<% content_for(:title, @music.title) %>

<section id='Player-Page'>
  <div class='Piston2438_DJ-Player card'>
    <%= image_tag 'https://due0xnee3ffkt.cloudfront.net/Images/GROOVE-LINE.webp', alt: '【J-WAVE】GROOVE LINE', class: 'card-img-top' %>
    <p class='Category badge rounded-pill bg-secondary'><%= @category %></p>

    <div class='card-body'>
      <h2 class='Piston2438_DJ-Player--Title card-title'><%= @music.title %></h2>
      <p class='Piston2438_DJ-Player--Date card-text'><%= @music.release_date.strftime('%Y年%m月%d日 %A') %></p>

      <% if params[:category] == 'MP3' %>
        <%= audio_tag("https://due0xnee3ffkt.cloudfront.net/MIX MACHINE（MP3）/#{@music.name}.mp3", controls: true, autoplay: false, class: 'Piston2438_DJ-Player--Audio', onended: "location.href='/music/mp3-next';") %>
      <% elsif params[:category] == 'FLAC' %>
        <%= audio_tag("https://due0xnee3ffkt.cloudfront.net/MIX MACHINE（FLAC）/#{@music.name}.flac", controls: true, autoplay: false, class: 'Piston2438_DJ-Player--Audio', onended: "location.href='/music/flac-next';") %>
      <% end %>

    <% unless session[:playlists].blank? %>
      <h3 class='Piston2438_DJ-Player--Next-Length card-title'>
        終了まで、残り<span><%= session[:playlists].length %></span>曲です。
      </h3>
      <p class='Piston2438_DJ-Player--Next-Title'>
        <span class='badge rounded-pill bg-secondary'>次曲</span><%= @next_music[:title] %>
      </p>
    <% end %>
    </div>
  </div>
</section>
