<section id='Contents' class='container'>
  <div class='Music-Prayer'>
    <h1 class='Music-Prayer__Title'>
      <span>MIX MACHINE</span>
    </h1>
    <h2 class='Mix-Machine__Tag'><%= link_to 'J-WAVE', 'https://www.j-wave.co.jp', target: '_blank' %></h2>

    <p class='Music-Prayer__Profile'>
      ● <%= @music.title %><br />
      <span class='Music-Prayer__Profile--Date'><%= @music.release_date.strftime('%Y年%m月%d日 %A') %></span><br />
      <%= image_tag 'https://due0xnee3ffkt.cloudfront.net/Images/GROOVE-LINE.webp', width: '75%', class: 'Music-Prayer__Profile--Image' %>
    </p>

    <% if params[:category] == 'MP3' %>
      <%= audio_tag("https://due0xnee3ffkt.cloudfront.net/MIX MACHINE（MP3）/#{@music.name}.mp3", controls: true, autoplay: true, class: 'Music-Prayer--Audio', onended: "location.href='/music/mp3-shuffle'; ") %>
    <% elsif params[:category] == 'FLAC' %>
      <%= audio_tag("https://due0xnee3ffkt.cloudfront.net/MIX MACHINE（FLAC）/#{@music.name}.flac", controls: true, autoplay: true, class: 'Music-Prayer--Audio', onended: "location.href='/music/flac-shuffle'; ") %>
    <% end %>
  </div>
</section>
