<section id='Top-Page'>
  <h1 class='Mix-Machine__Title'>
    <span>MIX MACHINE</span>
  </h1>
  <h2 class='Mix-Machine__Tag'><%= link_to 'J-WAVE', 'https://www.j-wave.co.jp', target: '_blank' %></h2>

  <%= form_with url: music_players_path, method: 'POST', class: 'Mix-Machine__Start', local: true do |form| %>
    <%= form.select :play_method, [
      ['01. 全曲 シャッフル再生', '01'],
      ['02. シャッフル再生（最新 2週間分）', '02'],
      ['03. ピストン西沢 Non-STOP Driving MIX！', '03'],
      ['04. おとなのアンパンマン DJ MIX！', '04'],
    ], prompt: '再生方法を選択してください。' %><br />

    <%= form.radio_button :category, 'MP3', checked: true, class: 'form-check-input', id: 'Mobile_MP3' %>
    <%= form.label :category, 'モバイルデータ通信（MP3）', class: 'form-check-label', for: 'Mobile_MP3' %><br />

    <%= form.radio_button :category, 'FLAC', class: 'form-check-input', id: 'High-Quality_FLAC' %>
    <%= form.label :category, 'ロスレスオーディオ（FLAC）', class: 'form-check-label', for: 'High-Quality_FLAC' %><br />

    <%= form.submit '再生を開始する♪', class: 'Mix-Machine__Start--Submit btn btn-outline-primary' %>
  <% end %>
</section>
