<!DOCTYPE html>
<html>
  <head>
    <title>MusicPlayer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <section id='Contents' class='container-fluid'>
        <%= yield %>
      </section>
      <footer class='container-fluid'>
        <%= link_to root_path, class: 'Footer-Menu btn btn-outline-dark' do %>
          <div>
            <i class='fas fa-home'></i><br />
            <span class='Footer-Menu--Text'>ホーム</span>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'Footer-Menu btn btn-outline-dark' do %>
            <div>
              <i class='fas fa-sign-out-alt'></i><br />
              <span class='Footer-Menu--Text'>ログアウト</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'Footer-Menu btn btn-outline-dark' do %>
            <div>
              <i class='fas fa-sign-in-alt'></i><br />
              <span class='Footer-Menu--Text'>ログイン</span>
            </div>
          <% end %>
        <% end %>
      </footer>



    <!-- <section id='Outer-Box' class='container'>
      <header>
        <% if user_signed_in? %>
          <% if request.fullpath.include? '/music/all_shuffle_plays' %>
            <%= link_to('ホーム', root_path, class: 'Login_Btn btn btn-outline-dark') %>
          <% else %>
            <%= link_to('ログアウト', destroy_user_session_path, method: :delete, class: 'Login_Btn btn btn-outline-dark') %>
          <% end %>
        <% else %>
          <% if request.fullpath == '/users/sign_in' %>
            <%= link_to('ホーム', root_path, class: 'Login_Btn btn btn-outline-dark') %>
          <% else %>
            <%= link_to('ホーム', root_path, class: 'Login_Btn btn btn-outline-dark') %>
          <% end %>
        <% end %>
      </header>

      <%= yield %>
    </section>
  </body>
</html>
